# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
src/node_modules
src/.pnp
src/.pnp.js

# testing
frontend/coverage
src/coverage

# production
frontend/build
src/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
src/.DS_Store
src/.env
src/uncaughtExceptions.log
src/uncaughtRejections.log
src/logfile.log

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
src/npm-debug.log*
src/yarn-debug.log*
src/yarn-error.log*



